<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <form [formGroup]="sellForm" (ngSubmit)="sell(sellForm.value)">
        <table>
          <thead>
            <tr>
              <th>ประเภท</th>
              <th>ระบุข้อมูลใหม่</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Seller</td>
              <td>
                <input formControlName="seller" type="text">
              </td>
            </tr>
            <tr>
              <td>Buyer</td>
              <td>
                <input formControlName="buyer" type="text">
              </td>
            </tr>
            <tr>
              <td>Electricity</td>
              <td>
                <input formControlName="electricity" type="text">
              </td>
            </tr>
            <tr>
              <td>Balance</td>
              <td>
                <input formControlName="balance" type="text">
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit">Submit</button>
      </form>
</div>
