<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form" [formGroup]="form" (submit)="onLoggedin(form.value)">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="username" type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Username">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!form.valid" > Log in </button>
            </form>
        </div>
    </div>
</div>
