<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/history" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-clock-o"></i>&nbsp;History
        </a>
        <a routerLink="/buy" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-btc"></i>&nbsp;Buy
        </a>
        <a routerLink="/sell" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dollar"></i>&nbsp;Sell
        </a>       
    </div>
</nav>
