<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
        <div class="row" style="text-align:center">
                <div class="col-lg-12">
                        <p style="color:white"><img src="assets/images/logo.png" width="100px" class="user-avatar" style="display:inline-block" /></p>
                        <p style="color:white">Balance: {{balance}} </p>
                        <p style="color:white">Electricity: {{electricity}} </p>
        
                </div>
        
            </div>
    <div class="list-group">
        <a routerLink="/history" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-clock-o"></i>&nbsp;History
        </a>
        <a routerLink="/buy" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-btc"></i>&nbsp;Buy
        </a>
        <a routerLink="/sell" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dollar"></i>&nbsp;Sell
        </a>       
    </div>
</nav>
