<div [@routerTransition]>
    <div class="card mb-3">
        <div class="card-header">History</div>
        <div class="card-body">
            <form  [formGroup]="time" (ngSubmit)="getHistory(time.value)">
                <div class="row">
                    <div class="col-3">
                        <label>date from :</label>
                        <input type="date" class="form-control" formControlName="from">
                    </div>
                    <div class="col-3">
                        <label>to :</label>
                        <input type="date" class="form-control" formControlName="to">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Status</th>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Time</th>
                        <th>Electicity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of historys; let i = index ">
                        <td>{{history.primaryid}}</td>
                        <td>{{history.secondaryid}}</td>
                        <td>{{history.status}}</td>
                        <td>{{history.txnid}}</td>
                        <td>{{history.txntype}}</td>
                        <td>{{history.txnts}}</td>
                        <td>{{history.electricity}}</td>
                        <td>{{history.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>