<div [@routerTransition]>
  <div class="card mb-3">
    <div class="card-header">Buy</div>
    <div class="card-body">

      <form [formGroup]="buyForm" (ngSubmit)="onSubmit(buyForm.value)">
        <div class="col-3">
          <label for="buyer">Trader</label>
          <input formControlName="secondaryUser" type="text" class="form-control">
        </div>

        <div class="col-3">
          <label for="electricity">Electricity</label>
          <input formControlName="electricity" type="text" class="form-control">
        </div>

        <div class="col-3">
          <label for="balance">Balance</label>
          <input formControlName="amount" type="text" class="form-control">
        </div>

        <br>
        <div class="col-2">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>